.main-container{
    display: flex;
    width: 300px;
    flex-direction: column;
    background-color:#1DB954;
}
.seek-container{
    height: 150px;
    width: inherit;
}

.button-icon{
    border-radius: 20%;
    max-width:8%;
    height:auto;
    padding: 17px;
}

.button-icon:hover{
    transform: scale(1.1);
}

.button-container{
    margin-bottom: 2%;
    display: flex;
    justify-content: center;
}